name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  awesome-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Awesome Lint
        uses: max/awesome-lint@v0.2.0
        with:
          args: README.md
